<script>
require 'stylesheets/style.css'
</script>
<h1>Listing Indys</h1>

<%= link_to 'New Indagram', new_post_path %>
<%= link_to 'Sign Out', '/logout' %>

 
  <% @posts.each_with_index do |post, index| %>
      <div id=post<%=index%> class='post'>
      <td> <img src=<%=post.image%> </td>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <h2>Comments</h2>

      <%= render post.comments %>

      <h2>Add a comment:</h2>
      <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
        <p>
          <%= form.label :commenter %><br>
          <%= form.text_field :commenter %>
        </p>
        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
      <td><%= link_to 'Show', post_path(post) %></td>
    </div>
  <% end %>